<div class="text">
	<h1> Cart </h1></div>
<div class="show">
	<% @show.each do |item| %></br>		
	<%=image_tag(item.product.image, :width => "240")%></br>
	<strong>Name: </strong><%= item.product.name %></br>
	<strong>Description: </strong><%= item.product.description %></br>
	<strong>Quantity: </strong><%= item.quantity %></br>
	<strong>Price: </strong><%= (item.quantity)*(item.product.price) %></br>
	<button><%= link_to 'Destroy', line_item_destroy_path(product: item.product), method: :delete %></button></br>
	</br><% end %>
</div>