<div class="pro">
<% @products.each do |product|%>
<div class="col-md-4">
      <div class="thumbnail" style="height: 630px;">
        <%=image_tag(product.image, :width => "240")%>
        <div class="caption">
          <h3><%=product.name%></h3>
          <p><%=product.description%></p>
          <h4><%=number_to_currency(product.price)%></h4></br>
         <div class="cart"><%= link_to image_tag("cart.jpg", width: '130px'), line_item_path(product: product.id), method: :post %></div>
        </div>
      </div>
  </div>
<%end%>
</div>